<div class="banner">
  <div class="container">
    <h1>Hardys Hard Stuff</h1>
    <p>Classic cocktails that will delight all</p>
    <%= link_to 'Add a new cocktail', 'cocktails/new', class: "btn reverse-button" %>
  </div>
</div>



<div class="cards-container">
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')"> <p><%= cocktail.name %> </p></div>
    <% end %>
  <% end %>
</div>
